repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: node
        types_or: [javascript, ts, json, css, scss, html, markdown, svelte]
        exclude: ".*|worker-configuration\\.d\\.ts"
        additional_dependencies: [prettier, prettier-plugin-svelte, 'prettier-plugin-tailwindcss']
