repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: node
        files: \.(js|ts|json|css|scss|html|md|svelte)$
        exclude: ^(\.|node_modules/|worker-configuration\.d\.ts)
      - id: eslint
        name: eslint
        entry: npx eslint --fix
        language: node
        files: \.(js|ts|svelte)$
        exclude: ^(\.|node_modules/|worker-configuration\.d\.ts)
